
<h1>Escaleras y Serpientes</h1>

<p name="resultadoDado" id="resultadoDado">El valor del dado es: <%= @dado %></p>

<p name="posicionNueva" id="posicionNueva"><%= @posicionNueva %></p>

<p name="mensajePosicion" id="mensajePosicion"><%= @mensajePosicion  %></p>

<p name="posicionActual" id="posicionActual">Tu estas aqui: <%= @posicionActual %></p>


<form action='/Lanzar' method='GET'>
<input type="hidden" value = "<%= @posicionActual %>" name="posicionActual" id="posicionActual">
<input type='submit' value="dado" name="dado" id="dado">
</form>


